.dropdown {
    background-color: rgb(84, 109, 88) ;
    display:flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    max-height: 100px;
    overflow-y: scroll;
}

// .dropdown:empty{
//     border: none;
// }

.dropdown-row {
    cursor: pointer;
    text-align: start;
    padding: 10px 20px;

}

.dropdown-row:hover {
background-color: #efefef;
}

.pagination {
    align-items: center;
    background-color: #0fbcf9;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 1000px;
  }

  .page-item {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
  }