* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sliderAbout {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRttz_xXKMWv062WsquSivC5J_vjJvIaSpfDA&usqp=CAU");
    background-position: 30%;
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 50px;
}

.sliderContentAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sliderContentAbout .titleSliderAbout {
    color: #eb219a;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.sliderContentAbout>h6 {
    color: #00b4d8;
    font-size: 40px;
    font-weight: 600;
}

.sliderContentAbout p {
    font-size: 18px;
    color: #ffba08;
}




/* items */
.AboutItem {
    padding: 50px;
}

.aboutUs img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
}

.aboutUs {
    margin-left: 50px;
}

.aboutUs .title>h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #262626;
    margin: 15px 0;
}

.aboutUs .title>h3 {
   
    color: #00f5d4;
    font-size: 20px;
    font-weight: 600;
}

.aboutUs>p::first-letter{
    font-size: 350%;
  color: #8A2BE2;
  
  margin-right: 6px;
  float: left;
  
  line-height: 40px
  
}