@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950;
  @apply text-slate-100;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*customize scrollbar*/
/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}
/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 hover:bg-slate-800 rounded-md;
}

.container {
  @apply w-11/12 mx-auto;
}

.section {
  &-title {
    @apply text-base sm:text-lg md:text-xl font-bold mb-3;
  }
}

.btn {
  @apply text-sm lg:text-base font-medium leading-none border transition-all px-2 sm:px-3 py-2 lg:px-5 lg:py-2.5 rounded-md;

  &-primary {
    @apply text-white hover:text-white border-2 border-emerald-600 bg-emerald-600 hover:bg-emerald-500 hover:border-emerald-500 hover:shadow-lg hover:shadow-emerald-400/75;
  }

  &-secondary {
    @apply text-white hover:text-white border-2 hover:border-emerald-500;
  }

  &-icon {
    @apply flex items-center justify-center space-x-2;
  }

  &-close {
    @apply text-slate-100 bg-slate-800 hover:bg-slate-700 transition-all p-2 rounded-full hover:text-red-400 absolute top-3 right-3;
  }

  &-tab {
    @apply font-medium text-slate-200 bg-slate-900 hover:bg-slate-800 transition-all py-1.5 px-2 xl:py-3 xl:px-4 rounded-md;

    &__top {
      @apply text-xs sm:text-sm lg:uppercase lg:flex lg:items-center lg:space-x-2;
    }

    &__icon {
      @apply w-6 h-6 xl:w-9 xl:h-9 hidden lg:block;
    }

    &__col {
      @apply text-left text-xs lg:text-sm w-20 sm:w-28 md:w-32 lg:w-40 xl:w-56 whitespace-break-spaces;
    }
  }

  &-showtime {
    @apply block font-medium text-center text-slate-200 hover:text-slate-100 bg-slate-800 hover:bg-slate-900 border border-slate-500 hover:border-emerald-400 transition-all rounded-md px-1 lg:px-2 py-0.5 lg:py-1;
  }
}

.movie {
  &-slider {
    @apply relative;

    &__wrapper {
      @apply absolute z-20 top-0 left-0 right-0 h-full md:h-3/4;
    }

    &__content {
      @apply h-full flex flex-col items-start justify-end;
    }

    &__info {
      @apply w-full md:w-2/3 lg:w-1/3 drop-shadow-xl;
    }
  }

  // &-banner {
  //   @apply relative h-96 md:h-tablet xl:h-desktop bg-no-repeat bg-cover bg-center lg:bg-inherit lg:bg-full;
  // }

  &-overlay {
    @apply after:absolute after:bottom-0 after:left-0 after:right-0 after:h-3/4 after:bg-gradient-to-t after:from-slate-950 after:pointer-events-none;
  }

  &-content {
    @apply relative -mt-20 sm:-mt-40 md:-mt-60 lg:-mt-80 drop-shadow-xl;
  }

  &-title {
    @apply font-bold text-white uppercase;
  }

  &-info {
    @apply font-medium flex items-center justify-start space-x-2;
  }

  &-rating {
    @apply text-white leading-none;
  }

  &-release {
    @apply leading-none text-gray-300 border-l-2 border-l-gray-300 pl-2;
  }

  &-badge {
    @apply text-xs font-medium bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300 px-1 lg:px-2.5 py-0.5 lg:py-1 rounded inline-block mb-1 lg:mb-2;
  }

  // &-bg {
  //   @apply bg-[url('../public/assets/img/movie-bg.jpg')] bg-cover bg-no-repeat relative after:absolute after:inset-0 after:bg-gradient-to-t after:from-slate-950;
  // }

  &-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-100 dark:focus:ring-emerald-500 dark:focus:border-emerald-500 outline-none;
  }

  &-list {
    &__content {
      @apply pt-20 xl:pt-24 md:-mt-24 lg:-mt-28 xl:-mt-40 relative z-20;
    }
  }

  &-container {
    @apply p-1 my-0 sm:px-1 lg:px-1.5 lg:my-1.5 xl:px-2 xl:my-2;

    &:first-child {
      @apply lg:pl-0;
    }

    &:last-child {
      @apply lg:pr-0;
    }
  }

  &-card {
    // &__desktop {
    //   @apply h-44 xl:h-56 relative flex flex-col items-stretch justify-end bg-slate-900 bg-no-repeat bg-center bg-full transition-all duration-300 rounded-md overflow-hidden shadow-md;

    //   &:hover {
    //     .movie-card__overlay {
    //       @apply opacity-100;
    //     }

    //     @apply bg-scale;
    //   }
    // }

    &__overlay {
      @apply absolute inset-0 w-full h-full bg-slate-950 bg-opacity-75 flex flex-col items-stretch justify-center space-y-4 px-8 opacity-0 transition-all duration-200;
    }

    &__tablet {
      @apply relative rounded-md overflow-hidden mb-2;
    }
  }

  &-tab {
    &__content {
      @apply py-20 xl:py-24;
    }

    &__cards {
      @apply h-96;

      .ant-tabs-tabpane {
        @apply h-96 overflow-y-auto p-2;
      }

      .ant-tabs-tabpane-active {
        @apply grid sm:grid-cols-2 md:grid-cols-3 gap-5 xl:gap-6;
      }
    }

    > .ant-tabs-nav {
      &::before {
        @apply border-slate-800;
      }

      .ant-tabs-nav-wrap {
        @apply block;
      }

      .ant-tabs-nav-list {
        @apply justify-between gap-2 overflow-auto;
      }
      .ant-tabs-tab + .ant-tabs-tab {
        @apply m-0;
      }
    }

    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
      @apply pl-0 pr-2 py-2 md:pr-4 md:py-4;
    }

    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      @apply mt-1 md:mt-2;
    }

    .ant-tabs-tab-btn {
      @apply w-full;
    }

    .ant-tabs-ink-bar {
      @apply bg-emerald-500;
    }

    .ant-tabs-content-holder {
      @apply border-l-slate-800;
    }
  }
}

.ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  @apply pl-3 lg:pl-4;
}

.form {
  &-visual {
    @apply bg-slate-900 bg-opacity-50 border border-slate-700 px-5 lg:px-10 py-3 lg:py-6 rounded-md drop-shadow-lg;
  }
}

.modal {
  &-overlay {
    @apply fixed z-50 top-0 left-0 w-screen h-screen overflow-y-auto flex justify-center items-start bg-black bg-opacity-80 cursor-pointer;
  }

  &-wrapper {
    @apply relative top-0 w-full md:w-2/3 lg:w-3/5 md:top-8 cursor-default;
  }

  &-content {
    @apply flex flex-col bg-slate-950 rounded-md overflow-hidden shadow-lg;
  }

  &-player {
    @apply relative;

    &__ombre {
      @apply after:absolute after:bottom-0 after:left-0 after:right-0 after:h-2/3 after:bg-gradient-to-t after:from-slate-950 after:from-10% after:pointer-events-none;
    }
  }

  &-info {
    @apply relative -mt-0 lg:-mt-36 px-8 pb-8 lg:px-12 lg:pb-12 drop-shadow;
  }
}

.ant-form-item {
  .ant-form-item-label {
    > label {
      @apply text-slate-100;
    }
  }
}

.ant-input,
.ant-input-affix-wrapper {
  @apply bg-gray-50 border border-gray-300 text-gray-900 focus:ring-emerald-500 focus:border-emerald-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-slate-100 dark:focus:ring-emerald-500 dark:focus:border-emerald-500 hover:border-emerald-500;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  @apply border-emerald-500;
}

.ant-input-affix-wrapper .anticon.ant-input-password-icon {
  @apply text-slate-400 hover:text-slate-200;
}
